<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Thirsty Student</title>
</head>
<body>
    <h1>About The Thirsty Student</h1>
    <p>We sell all sorts of drinks</p>
</body>
</html>