<%-include('header') %>
<h1>This is the register page</h1>
<form action="/registered" method="POST">
    <li>First Name: <input type="text" id="first" name="first" required></li>
    <li>Last Name: <input type="text" id="last" name="last" required></li>
    <li>Email: <input type="email" name="email" id="email" required></li>
    <input type="submit" value="Ok"></li>
</form>
<%-include('footer') %>