<%-include('header') %>
    <h1>This is the search page for <%=shopData.shopName%></h1>
    <form action="/search_result" method="GET">
        Name: <input id="search_box" type="text" name="search_text">
        Category: <input type="text" name="category" id="search_box">
        <input type="submit" value="Go">
    </form>
<%-include('footer') %>